
<div id="page-content">
    <div class="container" id="home-container">
      <div class="jumbotron text-center text-dark">
        <h1 class="jumbotron-header">Manage your business</h1>
        <a class="btn btn-success btn-lg" href="#" role="button">Login</a>  <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
      </div>
    </div>
 
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
